<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi User Blog by Manish Bisht</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <div class="blog-user">
        {% if user %}
            <div class="dropdown">
                <button class="btn btn-primary" type="button"
                        data-toggle="dropdown">{{ user.name }}
                    <span class="caret"></span></button>
                <ul class="pull-right dropdown-menu">
                    <li><a href="/create">Create New Post</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        {% elif not hide %}
            <a href="/login">
                <button type="button" class="btn btn-md btn-primary">Login</button>
            </a>
            <a href="/register">
                <button type="button" class="btn btn-md btn-primary">Register
                </button>
            </a>
        {% endif %}
    </div>

    <div class="blog-header">
        <a href="/" class="removea">
            <h1 class="blog-title">Muti User Blog</h1>
            <p class="lead blog-description">Write your own blog posts
                here</p>
        </a>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<footer class="blog-footer">
    Udacity Nanodegree Project<br>
    &copy; 2016 Manish Bisht | Hosted on Google App Engine
</footer>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>