{% extends "base.html" %}
{% block content %}
<div class="form-group" align="center">
    <form style="max-width: 500px;" method="post">
        <div class="alert-danger">{{error}}</div><br>
        <div align="left"><label>Subject</label></div>
        <input type="text" name="subject" class="form-control" value="{{subject}}">
        <br>
        <div align="left"><label>Content</label></div>
        <textarea rows="6" name="content" class="form-control">{{content}}</textarea>
        <br>
        <button type="submit" class="btn btn-default btn-lg">Update</button>
        <button class="btn btn-default btn-lg">Cancel</button>
        <br><br>
    </form>
</div>
{% endblock %}
