.idea
.env
.DS_Store
.expo

venv
Review
__pycache__/
node_modules/

#Github Repos
Cloud Developer Nanodegree/P2 - Udagram Your Own Instagram on AWS/Udagram-Your-Own-Instagram-on-AWS

Cloud DevOps Engineer Nanodegree/P3 - Jenkins Pipelines on AWS/Jenkins-Pipelines-on-AWS
Cloud DevOps Engineer Nanodegree/P4 - Operationalize a Machine Learning Microservice API/Operationalize-a-Machine-Learning-Microservice-API

Full Stack Web Developer Nanodegree v2/P3 - Coffee Shop Full Stack/Coffee-Shop-Full-Stack
Full Stack Web Developer Nanodegree v2/P4 - Deploy Your Flask App to Kubernetes Using EKS/Deploy-Your-Flask-App-to-Kubernetes-Using-EKS

React Nanodegree Program/P1 - MyReads A Book Tracking App /MyReads-A-Book-Tracking-App
React Nanodegree Program/P2 - Would You Rather/Would-You-Rather