.idea
venv
Review
__pycache__/
node_modules/

Github Repos
Cloud Engineer Nanodegree/P2 - Udagram Your Own Instagram on AWS/Udagram-Your-Own-Instagram-on-AWS
Cloud DevOps Engineer Nanodegree/P4 - Operationalize a Machine Learning Microservice API/Operationalize-a-Machine-Learning-Microservice-API

Full Stack Web Developer Nanodegree v2/P1 - Coffee Shop Full Stack/Coffee-Shop-Full-Stack