.card-container {
    margin: 20px 10%;
    display: grid;
    grid-template-columns: auto;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 #f44336;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #f44336;
}

.responsive-image {
    width: 100%;
}

.card-body {
    color: #f44336;
    padding: 10px;
}

.card-title {
}

.card-subtitle {

}

.card-action-buttons {
    margin-bottom: 15px;
}