<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article with Natural Language Processing</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="header-logo">
                Evaluate a news article with Natural Language Processing
            </div>
        </header>

        <main>
            <section>
                <div>
                    <input id="url" type="text" name="url" value="" placeholder="Enter URL">
                    <button id="processURLButton">Process URL</button>
                </div>
            <section>

            <section class="url-results">
                <ul>
                    <li>
                        <h3>Text Polarity:</h3>
                        <p id="polarity"></p>
                        <h4>Confidence: </h4>
                        <p id="polarity_confidence"></p>
                    </li>

                    <li>
                        <h3>Text Subjectivity:</h3>
                        <p id="subjectivity"></p>
                        <h4>Confidence: </h4>
                        <p id="subjectivity_confidence"></p>
                    </li>

                    <h3>Text Excerpt:</h3>
                    <p id="excerpt"></p>
                </ul>
            </section>
        </main>

        <footer>
            <p>&copy; Manish Bisht 2019</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
