<div class="jumbotron">
    <h1>Fake REST API</h1>
    <p class="lead">Fake Rest API on cloud for testing your application.</p>
    <script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#009cde', 'A5361LB'); kofiwidget2.draw();</script>
    <p style="text-align:center">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Ffakerestapi.azurewebsites.net%2F&layout=button_count&mobile_iframe=true&width=107&height=20&appId" width="107" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Free</h2>
        <p>Fake REST API is completely free.</p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>Fake Rest API is open source and it is hosted on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/kasuken/fakerestapi" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosted on Azure</h2>
        <p>This application is hosted on Azure.</p>
        <p><a class="btn btn-default" href="http://www.azure.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Overview</h2>
        <p>
            Fake Rest API is a free online REST service that you can use for sample data, tutorials and examples.<br />
            It's written in ASP.NET and run on Azure.
        </p>
    </div>

    <div class="col-md-12">
        <h2>Source Code</h2>
        <p>
            You can view or download the source code from the officiale Github repository: <a href="https://github.com/kasuken/fakerestapi">https://github.com/kasuken/fakerestapi</a>.<br />
        </p>
    </div>

    <div class="col-md-12">
        <h2>Test online</h2>
        <p>
            You can test with the button below, or go to <a href="http://fakerestapi.azurewebsites.net/swagger">http://fakerestapi.azurewebsites.net</a>

            <pre>
var root = 'http://fakerestapi.azurewebsites.net';
$.ajax({
    url: root + '/posts/1',
    method: 'GET'
}).then(function(data) {
    alert(data);
});
            </pre>

            <button id="runTest">Run</button>

            <br />
            <br />

            <pre id="result">
            </pre>

        </p>
    </div>

    <div class="col-md-12">
        <h2>Resources</h2>
        <p>
            <ul>
                <li><a href="/swagger/ui/index#/Activities">Activities</a></li>
                <li><a href="/swagger/ui/index#/Authors">Authors</a></li>
                <li><a href="/swagger/ui/index#/Books">Books</a></li>
                <li><a href="/swagger/ui/index#/CoverPhotos">CoverPhotos</a></li>
                <li><a href="/swagger/ui/index#/Users">Users</a></li>
            </ul>
        </p>
    </div>

</div>

@section scripts {

    <script>
        $('#runTest').click(function () {

            var root = 'http://fakerestapi.azurewebsites.net';

            $.ajax({
                url: root + '/api/activities/1',
                method: 'GET'
            }).then(function (data) {
                var str = JSON.stringify(data, null, '\t')

                $('#result').html(
                    str.replace(/\n/g, '<br/>')
                    .replace(/\\n/g, ' ')
                    .replace(/\t/g, '&nbsp;&nbsp;')
                    );
            });
        });
    </script>

}